<div class="container">
    <h1>Upload an image!</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="fileupload">
        <div class="btn grey">
            <span>File</span>
            <input name="myimage" type="file">
            </div>
            <div class="file-path-wrapper">

            </div>
            </div>
            <button type="submit" class="btn">Submit</button>
            </form>
            </div>
</body>
</html>