<div class="home-page">
<h1>Upload</h1>
<div class="upload-section">
<form action='/uploads' method='post' enctype='multipart/form-data'>
	<label for='myfile'>Select Image</label>
	<input type='file' id='myfile' name='myfile'>
	<input type='submit'>
</form>
</div>
</div>